---
---

//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Cuprum|Libre+Barcode+128+Text);

//Font Variables
$barcode: 'Libre Barcode 128 Text', cursive;
$word: 'Cuprum', sans-serif;


* {
	position: relative;
	margin: 0;
	padding: 0;
}

.banner {

	//background-color: rgb(0, 0, 0);
	height: auto;
	width: 100%;
	margin: auto;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	color: black;
    overflow: hidden;

	#logo {
		display: inline-block;
		padding: 16px;
		height: auto;
		font-family: $barcode;
		font-size: 48px;
        margin-top: 4px;
        margin-bottom: 4px;
		line-height: 1.2em;
		&:hover{
			padding: 14px;
			text-decoration: none;
			border: 2px solid black;
		}
	}
    
    .horizontal_line {
        color: darkgray;
    }       
    
    ul {
    }
    
	li {
		display: inline-block;
	  	font-family: $word;
	 	font-size: 24px;
	  	font-weight: 100;
	  	letter-spacing: 2px;
	  	margin-left: 20px;
        margin-right: 20px;
	  	text-transform: uppercase;
	}

	a {
		color: black;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

