<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/base.css">
		</head>
		<body>
			<div class="banner">
				<a id="logo" href=".">raising<br/>di bar</a>
				<nav>

				</nav>
			</div>
			
			<footer>
	    		<ul>
					<!--
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
					-->
				</ul>
			</footer>
		</body>
	</html>
